{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load utils %}

{% block title %}
    {{ person.pref_label|default:person.german_name|default:person.hebrew_name|default:"Person detail" }}
{% endblock %}

{% block meta %}
    <meta name="description"
          content="{{ person.pref_label|default:person.german_name|default:'' }}">
    <meta property="og:title" content="{{ person.pref_label|default:person.german_name|default:person.hebrew_name }}">
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js/book_detail.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container person-detail my-4">
        {% include "persons/_person_header.html" %}

        <div class="row gx-md-5">
            <aside class="col-md-3 person-detail__toc-col d-none d-md-block">
                <div class="person-toc-sticky">
                    {% include "persons/_person_toc.html" %}
                </div>
            </aside>

            <button class="btn btn-primary person-toc-fab d-md-none" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#person-toc-offcanvas"
                    aria-controls="person-toc-offcanvas">
                <i class="bi bi-list-ul"></i> Sections
            </button>
            <div class="offcanvas offcanvas-start d-md-none" tabindex="-1" id="person-toc-offcanvas"
                 aria-labelledby="person-toc-offcanvas-label">
                <div class="offcanvas-header">
                    <h2 class="offcanvas-title h6" id="person-toc-offcanvas-label">Sections</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {% include "persons/_person_toc.html" %}
                </div>
            </div>

            <div class="col-md-9 person-detail__content-col">
                {% if page.body %}
                    <section class="person-section">
                        {{ page.body|richtext }}
                    </section>
                {% endif %}

                {% for section in visible_sections %}
                    <section id="{{ section.slug }}" class="person-section">
                        <h2 class="person-section__heading h4">{{ section.label }}</h2>
                        {% include "persons/_sections/"|add:section.slug|add:".html" %}
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
