{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load utils %}

{% block title %}
    {{ person.pref_label|default:person.german_name|default:person.hebrew_name|default:"Person detail" }}
{% endblock %}

{% block meta %}
    <meta name="description"
          content="{{ person.pref_label|default:person.german_name|default:'' }}">
    <meta property="og:title" content="{{ person.pref_label|default:person.german_name|default:person.hebrew_name }}">
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js/book_detail.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container person-detail my-4">
        {% include "persons/_person_header.html" %}

        <div class="person-detail__content-col">
            {% if page.body %}
                <section class="person-section">
                    {{ page.body|richtext }}
                </section>
            {% endif %}

            {% for section in visible_sections %}
                <section id="{{ section.slug }}" class="person-section">
                    <h2 class="person-section__heading h4">{{ section.label }}</h2>
                    {% include "persons/_sections/"|add:section.slug|add:".html" %}
                </section>
            {% endfor %}
        </div>

        {% include "partials/_export_modal.html" with modal_id="person-export-modal" entity="person" slug=person.slug title=person %}
    </div>
{% endblock %}
