{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}People{% endblock %}

{% block content %}
<div class="container my-4">
    <h1>People</h1>

   {%  include 'partials/alphabetmenu.html' %}

    <!-- Personenliste nach Anfangsbuchstaben -->
    <section class="people-list">
        {% if persons_by_letter %}
            {% for letter, persons in persons_by_letter.items %}
                <div class="people-group mb-4" id="letter-{{ letter }}">
                    <h2>{{ letter }}</h2>
                    <ul class="list-unstyled">
                        {% for person in persons %}
                            <li>
                                <a href="{% url 'person-detail' person.uuid %}">
                                    {{ person }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No people found.</p>
        {% endif %}
    </section>
</div>
{% endblock %}
