{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load leaflet_tags %}#

{%  block extra_css %}
   <style nonce="{{ nonce }}">
        #map {
            height: 600px;
        }
    </style>

{% endblock %}

{% block content %}
    {{ page.context }}


    <div class="container">
        <div class="row">
            <section class="books-filter">
                <nav class="eng">
                    <ul class="list-inline">
                        {% for letter in page.alphabet %}
                        <li class="list-inline-item"><a href="/places/{{ letter }}">{{ letter }}</a></li>
                            {% if not forloop.last %}.{% endif %}
                        {% endfor %}
                    </ul>
                </nav>
                <nav class="he">
                    <ul class="list-inline rtl">
                        {% for hebrew_letter in page.hebrew_alphabet %}
                        <li class="list-inline-item"><a href="/places/{{ hebrew_letter | escape }}">{{ hebrew_letter }}</a></li>
                            {% if not forloop.last %}.{% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </section>
        </div>

        <div class="row">
            <div class="col-6">
                <section class="terms-list">
                    <div class="letter-wrapper">
                        {%  for letter, names in page.context.cities.items%}
                            <div class="letter en"><span>{{ letter }}</span></div>
                            <div class="terms-by-letter">
                                {% for city in names %}
                                    <div class="terms-title">
                                        <a href="/cities/{{ city | lower}}">{{ city }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="col-6">
                 <div id="map"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script nonce="{{ page.nonce }}">
        var map = L.map('map').setView([0, 0], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>
{% endblock %}