{% extends "base.html" %}

{% block title %}Occupations{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="h2 mb-4">Occupations</h1>

    <section class="mb-3">
        <nav class="eng">
            <ul class="list-inline">
                {% for letter in alphabet %}
                    <li class="list-inline-item">
                        <strong>{{ letter }}</strong>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </section>

    <section class="terms-list">
        <div class="letter-wrapper">
            {% for letter, occs in occupations_by_letter.items %}
                <div class="letter en mt-3">
                    <span class="fw-bold">{{ letter }}</span>
                </div>
                <div class="terms-by-letter">
                    {% for occ in occs %}
                        <div class="terms-title">
                            <a href="{% url 'occupation-detail' occ.name|slugify %}">
                                {{ occ.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
