{% load value_filters %}
<dl class="row mb-0">
    {% if book.pages_number|clean_value %}
        <dt class="col-sm-4">Pages</dt>
        <dd class="col-sm-8" dir="auto">{{ book.pages_number|clean_value }}</dd>
    {% endif %}
    {% if book.height|clean_value %}
        <dt class="col-sm-4">Height</dt>
        <dd class="col-sm-8" dir="auto">{{ book.height|clean_value }}</dd>
    {% endif %}
    {% if book.width|clean_value %}
        <dt class="col-sm-4">Width</dt>
        <dd class="col-sm-8" dir="auto">{{ book.width|clean_value }}</dd>
    {% endif %}
    {% if book.alignment|clean_value %}
        <dt class="col-sm-4">Alignment</dt>
        <dd class="col-sm-8" dir="auto">{{ book.alignment.name }}</dd>
    {% endif %}
    {% if book.fonts.all %}
        <dt class="col-sm-4">Fonts</dt>
        <dd class="col-sm-8" dir="auto">
            {% for f in book.fonts.all %}{{ f.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </dd>
    {% endif %}
    {% if book.typography.all %}
        <dt class="col-sm-4">Typography</dt>
        <dd class="col-sm-8" dir="auto">
            {% for t in book.typography.all %}{{ t.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </dd>
    {% endif %}
    {% if book.illustrations_diagrams|clean_value %}
        <dt class="col-sm-4">Illustrations / diagrams</dt>
        <dd class="col-sm-8" dir="auto">{{ book.illustrations_diagrams|clean_value }}</dd>
    {% endif %}
    {% if book.diagrams_notes|clean_value %}
        <dt class="col-sm-4">Diagram notes</dt>
        <dd class="col-sm-8" dir="auto">{{ book.diagrams_notes|clean_value }}</dd>
    {% endif %}
    {% if book.diagrams_book_pages|clean_value %}
        <dt class="col-sm-4">Diagram book pages</dt>
        <dd class="col-sm-8" dir="auto">{{ book.diagrams_book_pages|clean_value }}</dd>
    {% endif %}
</dl>
