{% load value_filters %}
<dl class="row mb-0">
    {% if book.publisher|clean_value %}
        <dt class="col-sm-4">Publisher</dt>
        <dd class="col-sm-8" dir="auto">
            {% if book.publisher.slug %}
                <a href="{% url 'publisher-detail' book.publisher.slug %}">{{ book.publisher.name }}</a>
            {% else %}
                {{ book.publisher.name }}
            {% endif %}
        </dd>
    {% endif %}
    {% if book.original_publisher|clean_value %}
        <dt class="col-sm-4">Original publisher</dt>
        <dd class="col-sm-8" dir="auto">
            {% if book.original_publisher.slug %}
                <a href="{% url 'publisher-detail' book.original_publisher.slug %}">{{ book.original_publisher.name }}</a>
            {% else %}
                {{ book.original_publisher.name }}
            {% endif %}
        </dd>
    {% endif %}
    {% if book.publication_place|clean_value %}
        <dt class="col-sm-4">Publication place</dt>
        <dd class="col-sm-8" dir="auto">
            <a href="{% url 'place-detail' book.publication_place.slug %}">
                {{ book.publication_place.name }}
            </a>
        </dd>
    {% endif %}
    {% if book.publication_place_other|clean_value %}
        <dt class="col-sm-4">Other publication place</dt>
        <dd class="col-sm-8" dir="auto">{{ book.publication_place_other.name }}</dd>
    {% endif %}
    {% if book.gregorian_year|clean_value %}
        <dt class="col-sm-4">Year (Gregorian)</dt>
        <dd class="col-sm-8" dir="auto">{{ book.gregorian_year|clean_value }}</dd>
    {% endif %}
    {% if book.year_in_book|clean_value %}
        <dt class="col-sm-4">Year as in book</dt>
        <dd class="col-sm-8" dir="auto">{{ book.year_in_book|clean_value }}</dd>
    {% endif %}
    {% if book.year_in_other|clean_value %}
        <dt class="col-sm-4">Year (other reference)</dt>
        <dd class="col-sm-8" dir="auto">{{ book.year_in_other|clean_value }}</dd>
    {% endif %}
    {% if book.hebrew_year_of_publication|clean_value %}
        <dt class="col-sm-4">Hebrew year of publication</dt>
        <dd class="col-sm-8" dir="auto">{{ book.hebrew_year_of_publication|clean_value }}</dd>
    {% endif %}
    {% if book.hebrew_year_pub_other|clean_value %}
        <dt class="col-sm-4">Hebrew year (other reference)</dt>
        <dd class="col-sm-8" dir="auto">{{ book.hebrew_year_pub_other|clean_value }}</dd>
    {% endif %}
    {% if book.gregorian_year_pub_other|clean_value %}
        <dt class="col-sm-4">Gregorian year (other reference)</dt>
        <dd class="col-sm-8" dir="auto">{{ book.gregorian_year_pub_other|clean_value }}</dd>
    {% endif %}
    {% if book.format_of_publication_date|clean_value %}
        <dt class="col-sm-4">Format of publication date</dt>
        <dd class="col-sm-8" dir="auto">{{ book.format_of_publication_date.name }}</dd>
    {% endif %}
    {% if book.partial_publication|clean_value %}
        <dt class="col-sm-4">Partial publication</dt>
        <dd class="col-sm-8" dir="auto">{{ book.partial_publication|clean_value }}</dd>
    {% endif %}
    {% if book.printed_originally|clean_value %}
        <dt class="col-sm-4">Printed originally</dt>
        <dd class="col-sm-8" dir="auto">{{ book.printed_originally|clean_value }}</dd>
    {% endif %}
    {% if book.original_publication_place|clean_value %}
        <dt class="col-sm-4">Original publication place</dt>
        <dd class="col-sm-8" dir="auto">
            <a href="{% url 'place-detail' book.original_publication_place.slug %}">
                {{ book.original_publication_place.name }}
            </a>
        </dd>
    {% endif %}
    {% if book.original_publication_year|clean_value %}
        <dt class="col-sm-4">Original publication year</dt>
        <dd class="col-sm-8" dir="auto">{{ book.original_publication_year|clean_value }}</dd>
    {% endif %}
    {% if book.printers|clean_value %}
        <dt class="col-sm-4">Printers</dt>
        <dd class="col-sm-8" dir="auto">{{ book.printers|clean_value }}</dd>
    {% endif %}
    {% if book.printing_press_notes|clean_value %}
        <dt class="col-sm-4">Printing press notes</dt>
        <dd class="col-sm-8" dir="auto">{{ book.printing_press_notes|clean_value }}</dd>
    {% endif %}
    {% if book.printing_press_references|clean_value %}
        <dt class="col-sm-4">Printing press references</dt>
        <dd class="col-sm-8" dir="auto">{{ book.printing_press_references|clean_value }}</dd>
    {% endif %}
    {% if book.production_evidence|clean_value %}
        <dt class="col-sm-4">Production evidence</dt>
        <dd class="col-sm-8" dir="auto">{{ book.production_evidence|clean_value }}</dd>
    {% endif %}
    {% if book.series|clean_value %}
        <dt class="col-sm-4">Series</dt>
        <dd class="col-sm-8" dir="auto">
            {% if book.series.slug %}
                <a href="{% url 'series-detail' book.series.slug %}">{{ book.series.name }}</a>
            {% else %}
                {{ book.series.name }}
            {% endif %}
            {% if book.series_part|clean_value %}<span class="text-muted small">&middot; part {{ book.series_part|clean_value }}</span>{% endif %}
        </dd>
    {% elif book.series_part %}
        <dt class="col-sm-4">Series part</dt>
        <dd class="col-sm-8" dir="auto">{{ book.series_part|clean_value }}</dd>
    {% endif %}
</dl>
