<dl class="row mb-0">
    {% if book.bibliographical_citations %}
        <dt class="col-sm-4">Bibliographical citations</dt>
        <dd class="col-sm-8">{{ book.bibliographical_citations|linebreaksbr }}</dd>
    {% endif %}
    {% if book.studies %}
        <dt class="col-sm-4">Studies</dt>
        <dd class="col-sm-8">{{ book.studies|linebreaksbr }}</dd>
    {% endif %}
    {% if book.sources_exist %}
        <dt class="col-sm-4">Sources exist</dt>
        <dd class="col-sm-8">{{ book.sources_exist }}</dd>
    {% endif %}
    {% if book.sources_list %}
        <dt class="col-sm-4">Sources</dt>
        <dd class="col-sm-8">{{ book.sources_list|linebreaksbr }}</dd>
    {% endif %}
    {% if book.sources_not_mentioned %}
        <dt class="col-sm-4">Sources not mentioned in book</dt>
        <dd class="col-sm-8">{{ book.sources_not_mentioned }}</dd>
    {% endif %}
    {% if book.sources_not_mentioned_list %}
        <dt class="col-sm-4">Sources not mentioned (list)</dt>
        <dd class="col-sm-8">{{ book.sources_not_mentioned_list|linebreaksbr }}</dd>
    {% endif %}
    {% if book.sources_not_mentioned_ref %}
        <dt class="col-sm-4">Sources not mentioned (reference)</dt>
        <dd class="col-sm-8">{{ book.sources_not_mentioned_ref }}</dd>
    {% endif %}
    {% if book.sources_references %}
        <dt class="col-sm-4">Source references</dt>
        <dd class="col-sm-8">{{ book.sources_references|linebreaksbr }}</dd>
    {% endif %}
    {% if book.jewish_sources_quotes %}
        <dt class="col-sm-4">Quotes from Jewish sources</dt>
        <dd class="col-sm-8">{{ book.jewish_sources_quotes|linebreaksbr }}</dd>
    {% endif %}
    {% if book.non_jewish_sources_quotes %}
        <dt class="col-sm-4">Quotes from non-Jewish sources</dt>
        <dd class="col-sm-8">{{ book.non_jewish_sources_quotes|linebreaksbr }}</dd>
    {% endif %}
    {% if book.original_sources_mention %}
        <dt class="col-sm-4">Original source mention</dt>
        <dd class="col-sm-8">{{ book.original_sources_mention }}</dd>
    {% endif %}
    {% if book.references_notes %}
        <dt class="col-sm-4">References notes</dt>
        <dd class="col-sm-8">{{ book.references_notes|linebreaksbr }}</dd>
    {% endif %}
    {% if book.secondary_sources %}
        <dt class="col-sm-4">Secondary sources</dt>
        <dd class="col-sm-8">{{ book.secondary_sources|linebreaksbr }}</dd>
    {% endif %}
</dl>
