{% load value_filters %}
<dl class="row mb-0">
    {% if book.bibliographical_citations|clean_value %}
        <dt class="col-sm-4">Bibliographical citations</dt>
        <dd class="col-sm-8" dir="auto">{{ book.bibliographical_citations|clean_value|safe_inline|linebreaksbr }}</dd>
    {% endif %}
    {% if book.studies|clean_value %}
        <dt class="col-sm-4">Studies</dt>
        <dd class="col-sm-8" dir="auto">{{ book.studies|clean_value|safe_inline|linebreaksbr }}</dd>
    {% endif %}
    {% if book.sources_exist|clean_value %}
        <dt class="col-sm-4">Sources exist</dt>
        <dd class="col-sm-8" dir="auto">{{ book.sources_exist|clean_value|safe_inline }}</dd>
    {% endif %}
    {% if book.sources_list|clean_value %}
        <dt class="col-sm-4">Sources</dt>
        <dd class="col-sm-8" dir="auto">{{ book.sources_list|clean_value|safe_inline|linebreaksbr }}</dd>
    {% endif %}
    {% if book.sources_not_mentioned|clean_value %}
        <dt class="col-sm-4">Sources not mentioned in book</dt>
        <dd class="col-sm-8" dir="auto">{{ book.sources_not_mentioned|clean_value|safe_inline }}</dd>
    {% endif %}
    {% if book.sources_not_mentioned_list|clean_value %}
        <dt class="col-sm-4">Sources not mentioned (list)</dt>
        <dd class="col-sm-8" dir="auto">{{ book.sources_not_mentioned_list|clean_value|safe_inline|linebreaksbr }}</dd>
    {% endif %}
    {% if book.sources_not_mentioned_ref|clean_value %}
        <dt class="col-sm-4">Sources not mentioned (reference)</dt>
        <dd class="col-sm-8" dir="auto">{{ book.sources_not_mentioned_ref|clean_value|safe_inline }}</dd>
    {% endif %}
    {% if book.sources_references|clean_value %}
        <dt class="col-sm-4">Source references</dt>
        <dd class="col-sm-8" dir="auto">{{ book.sources_references|clean_value|safe_inline|linebreaksbr }}</dd>
    {% endif %}
    {% if book.jewish_sources_quotes|clean_value %}
        <dt class="col-sm-4">Quotes from Jewish sources</dt>
        <dd class="col-sm-8" dir="auto">{{ book.jewish_sources_quotes|clean_value|safe_inline|linebreaksbr }}</dd>
    {% endif %}
    {% if book.non_jewish_sources_quotes|clean_value %}
        <dt class="col-sm-4">Quotes from non-Jewish sources</dt>
        <dd class="col-sm-8" dir="auto">{{ book.non_jewish_sources_quotes|clean_value|safe_inline|linebreaksbr }}</dd>
    {% endif %}
    {% if book.original_sources_mention|clean_value %}
        <dt class="col-sm-4">Original source mention</dt>
        <dd class="col-sm-8" dir="auto">{{ book.original_sources_mention|clean_value|safe_inline }}</dd>
    {% endif %}
    {% if book.references_notes|clean_value %}
        <dt class="col-sm-4">References notes</dt>
        <dd class="col-sm-8" dir="auto">{{ book.references_notes|clean_value|safe_inline|linebreaksbr }}</dd>
    {% endif %}
    {% if book.secondary_sources|clean_value %}
        <dt class="col-sm-4">Secondary sources</dt>
        <dd class="col-sm-8" dir="auto">{{ book.secondary_sources|clean_value|safe_inline|linebreaksbr }}</dd>
    {% endif %}
</dl>
