{% load value_filters %}
<dl class="row mb-0">
    {% if book.subscribers|clean_value %}
        <dt class="col-sm-4">Subscribers</dt>
        <dd class="col-sm-8">{{ book.subscribers|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.subscribers_notes|clean_value %}
        <dt class="col-sm-4">Subscribers notes</dt>
        <dd class="col-sm-8">{{ book.subscribers_notes|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.subscription_appeal|clean_value %}
        <dt class="col-sm-4">Subscription appeal</dt>
        <dd class="col-sm-8">{{ book.subscription_appeal|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.subscription_appeal_notes|clean_value %}
        <dt class="col-sm-4">Subscription appeal notes</dt>
        <dd class="col-sm-8">{{ book.subscription_appeal_notes|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.recommendations|clean_value %}
        <dt class="col-sm-4">Recommendations</dt>
        <dd class="col-sm-8">{{ book.recommendations|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.recommendations_notes|clean_value %}
        <dt class="col-sm-4">Recommendation notes</dt>
        <dd class="col-sm-8">{{ book.recommendations_notes|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.price|clean_value %}
        <dt class="col-sm-4">Price</dt>
        <dd class="col-sm-8">{{ book.price|clean_value }}</dd>
    {% endif %}
    {% if book.sellers|clean_value %}
        <dt class="col-sm-4">Sellers</dt>
        <dd class="col-sm-8">{{ book.sellers|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.sellers_notes|clean_value %}
        <dt class="col-sm-4">Seller notes</dt>
        <dd class="col-sm-8">{{ book.sellers_notes|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.thanks|clean_value %}
        <dt class="col-sm-4">Thanks</dt>
        <dd class="col-sm-8">{{ book.thanks|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.thanks_notes|clean_value %}
        <dt class="col-sm-4">Thanks notes</dt>
        <dd class="col-sm-8">{{ book.thanks_notes|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.contacts_official_agents|clean_value %}
        <dt class="col-sm-4">Official agents</dt>
        <dd class="col-sm-8">{{ book.contacts_official_agents|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.contacts_other_people|clean_value %}
        <dt class="col-sm-4">Other contacts</dt>
        <dd class="col-sm-8">{{ book.contacts_other_people|clean_value|linebreaksbr }}</dd>
    {% endif %}
    {% if book.personal_address|clean_value %}
        <dt class="col-sm-4">Personal address</dt>
        <dd class="col-sm-8">{{ book.personal_address|clean_value }}</dd>
    {% endif %}
    {% if book.personal_address_notes|clean_value %}
        <dt class="col-sm-4">Personal address notes</dt>
        <dd class="col-sm-8">{{ book.personal_address_notes|clean_value|linebreaksbr }}</dd>
    {% endif %}
</dl>
