{% load static %}
{% load wagtailcore_tags %}


<nav class="bread-crumbs">
    {% if self.get_ancestors|length > 1 %}
        <ul class="list-inline">
            {% for p in self.get_ancestors %}
                {% if p.is_root == False %}
                    <li class="first list-inline-item"><a href="{{ p.url }}">{{ p.title }}</a></li>
                    <span class="separator">&gt;</span>
                {% endif %}
            {% endfor %}

            <li class="last list-inline-item">{{ self.title }}</li>
        </ul>
    {% endif %}
</nav>