{% load static %}

<footer>
    <nav class="icons-nav nav-bar d-flex justify-content-center">
        <ul class="menu nav">
            <li class="first leaf"><a href="/books" title="">Books</a></li>
            <li class="leaf"><a href="/digital-books" title="">Digital Books</a></li>
            <li class="leaf"><a href="/people" title="">People</a></li>
            <li class="last leaf active-trail"><a href="/places" title="" class="active-trail active">Places</a></li>
        </ul>
    </nav>
    <div class="login-area">
        <ul class="menu nav">
            <li class="first last leaf"><a href="/dashboard" title="">LOGIN</a></li>
        </ul>
    </div>
</footer>