{% load static %}

<footer>
    <nav class="icons-nav nav-bar d-flex justify-content-center">
        <ul class="menu nav">
            <li class="first leaf"><a href="/books">Books</a></li>
            <li class="leaf"><a href="/digital-books">Digital Books</a></li>
            <li class="leaf"><a href="/persons">Persons</a></li>
            <li class="last leaf"><a href="/places">Places</a></li>
        </ul>
    </nav>
    <div class="login-area">
        <ul class="menu nav">
            <li class="first last leaf"><a href="/dashboard" title="">LOGIN</a></li>
        </ul>
    </div>
</footer>