{% load static %}


<header>
    <nav class="top-navigation nav-bar top-menu d-flex justify-content-center">
        <ul class="menu nav">
            <li class="first leaf"><a href="/books" title="">BOOKS</a></li>
            <li class="leaf"><a href="/digital-books" title="">DIGITAL BOOKS</a></li>
            <li class="leaf"><a href="/people" title="">PEOPLE</a></li>
            <li class="last leaf"><a href="/places" title="">PLACES</a></li>
        </ul>
    </nav>
    <h1 class="site-name"><a href="/" title="Home" class="link-underline-opacity-0 link-underline-opacity-0-hover"><span>Library of the</span> Haskala</a></h1>
    <hr>
</header>