{% load static %}


<header>
    <div class="site-topbar">
        <button type="button"
                class="btn site-topbar__toggle d-md-none"
                data-bs-toggle="offcanvas"
                data-bs-target="#mobileNav"
                aria-controls="mobileNav"
                aria-label="Open menu">
            <i class="bi bi-list"></i>
        </button>

        <nav class="top-navigation nav-bar top-menu d-none d-md-flex justify-content-center">
            <ul class="menu nav justify-content-center flex-wrap">
                <li class="first leaf"><a href="{% url 'books-list' %}" title="">BOOKS</a></li>
                <li class="leaf"><a href="{% url 'digital-books-list' %}" title="">DIGITAL BOOKS</a></li>
                <li class="leaf"><a href="{% url 'persons-list' %}" title="">PERSONS</a></li>
                <li class="leaf"><a href="{% url 'places-list' %}" title="">PLACES</a></li>
                <li class="last leaf">
                    <a href="{% url 'search' %}" title="">
                        SEARCH <i class="bi bi-search"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <h1 class="site-name"><a href="/" title="Home"
                             class="link-underline-opacity-0 link-underline-opacity-0-hover"><span>Library of the</span>
        Haskala</a></h1>
    <hr>
</header>

<div class="offcanvas offcanvas-end" tabindex="-1" id="mobileNav" aria-label="Menu">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-unstyled mobile-nav-list">
            <li><a href="{% url 'books-list' %}">Books</a></li>
            <li><a href="{% url 'digital-books-list' %}">Digital Books</a></li>
            <li><a href="{% url 'persons-list' %}">Persons</a></li>
            <li><a href="{% url 'places-list' %}">Places</a></li>
            <li><a href="{% url 'search' %}"><i class="bi bi-search"></i> Search</a></li>
        </ul>
    </div>
</div>