{% load static %}
{% load wagtailcore_tags %}  {# wenn du später mal Richtext in Descriptions nutzt #}
{% load i18n %}

<section class="tags-cloud-wrapper">
    <h4>Tag cloud by topics</h4>
    <div class="tags-cloud">
        <nav class="nav-bar">
            <ul class="tag-cloud-list">
                {% for topic in topics %}
                    <li class="tag-cloud-item">
                        <a class="btn btn-primary btn-sm rounded-pill tag-pill text-white m-1" href="{% url 'topic-detail' topic_slug=topic.name|slugify %}">
                            {{ topic.name }}
                        </a>
                    </li>
                {% empty %}
                    <li class="tag-cloud-item">
                        <span class="text-muted">No topics available.</span>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>
