{% load value_filters %}
<dl class="row mb-0">
    {% if person.date_of_birth|clean_value %}
        <dt class="col-sm-4">Date of birth</dt>
        <dd class="col-sm-8" dir="auto">{{ person.date_of_birth|clean_value|safe_inline }}</dd>
    {% endif %}
    {% if person.place_of_birth|clean_value %}
        <dt class="col-sm-4">Place of birth</dt>
        <dd class="col-sm-8" dir="auto">
            <a href="{% url 'place-detail' person.place_of_birth.slug %}">
                {{ person.place_of_birth.name }}
            </a>
        </dd>
    {% endif %}
    {% if person.date_of_death|clean_value %}
        <dt class="col-sm-4">Date of death</dt>
        <dd class="col-sm-8" dir="auto">{{ person.date_of_death|clean_value|safe_inline }}</dd>
    {% endif %}
    {% if person.place_of_death|clean_value %}
        <dt class="col-sm-4">Place of death</dt>
        <dd class="col-sm-8" dir="auto">
            <a href="{% url 'place-detail' person.place_of_death.slug %}">
                {{ person.place_of_death.name }}
            </a>
        </dd>
    {% endif %}
</dl>
