{% load value_filters %}
<dl class="row mb-0">
    {% if person.viaf_id|clean_value %}
        <dt class="col-sm-4">VIAF</dt>
        <dd class="col-sm-8">
            <a href="https://viaf.org/viaf/{{ person.viaf_id|clean_value }}/" target="_blank" rel="noopener">
                {{ person.viaf_id|clean_value }}
            </a>
        </dd>
    {% endif %}
    {% if person.gnd_id|clean_value %}
        <dt class="col-sm-4">GND</dt>
        <dd class="col-sm-8">
            <a href="https://d-nb.info/gnd/{{ person.gnd_id|clean_value }}" target="_blank" rel="noopener">
                {{ person.gnd_id|clean_value }}
            </a>
        </dd>
    {% endif %}
</dl>
