<dl class="row mb-0 small text-muted">
    {% if person.legacy_nid %}
        <dt class="col-sm-4">Legacy node ID</dt>
        <dd class="col-sm-8">{{ person.legacy_nid }}</dd>
    {% endif %}
    {% if person.legacy_created %}
        <dt class="col-sm-4">Imported</dt>
        <dd class="col-sm-8">{{ person.legacy_created|date:"Y-m-d" }}</dd>
    {% endif %}
    {% if person.legacy_changed %}
        <dt class="col-sm-4">Last changed in source</dt>
        <dd class="col-sm-8">{{ person.legacy_changed|date:"Y-m-d" }}</dd>
    {% endif %}
</dl>
