{% load utils %}

<aside class="mb-4">
    <h2 class="h5">Metadata</h2>
    <dl class="mb-0">

        {# Topic #}
        {% if book.topic %}
            <dt>Topic</dt>
            <dd>
                <a href="{% url 'topic-detail' book.topic.name|slugify %}">
                    {{ book.topic.name }}
                </a>
            </dd>
        {% endif %}

        {# Series #}
        {% if book.series and book.series.name %}
            {% with series_slug=book.series.name|slugify %}
                {% if series_slug %}
                    <dt>Series</dt>
                    <dd>
                        <a href="{% url 'series-detail' series_slug %}">
                            {{ book.series.name }}
                        </a>
                    </dd>
                {% else %}
                    {# Name existiert, slug wird aber leer → zeig nur Text #}
                    <dt>Series</dt>
                    <dd>{{ book.series.name }}</dd>
                {% endif %}
            {% endwith %}
        {% endif %}


        {% if book.location_of_footnotes %}
            <dt>Location of footnotes</dt>
            <dd>{{ book.location_of_footnotes }}</dd>
        {% endif %}

        {% if book.table_of_content %}
            <dt>Table of contents</dt>
            <dd>{{ book.table_of_content }}</dd>
        {% endif %}

        {% if book.target_audience.all %}
            <dt>Target audience</dt>
            <dd>
                {% for ta in book.target_audience.all %}
                    {{ ta }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}
    </dl>
</aside>
