{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load utils %}

{% block title %}
    {{ book.full_title|default:book.name|default:"Book detail" }}
{% endblock %}

{% block meta %}
    <meta name="description" content="{{ book.description|truncatechars:160 }}">
    <meta property="og:title" content="{{ book.name }}">
    <meta property="og:description" content="{{ book.description|truncatechars:160 }}">
{% endblock %}

{% block content %}
    <div class="container my-4">

        {% include "partials/breadcrumbs.html" %}

        {% include "books/_book_header.html" %}

        <hr>


        {% if book.bibliographical_citations or book.studies or book.structure_notes or book.type_general_notes %}
            <div class="row">
                <div class="col-md-8">

                    {% if book.bibliographical_citations %}
                        <section class="mb-4">
                            <h2 class="h5">Bibliographical citations</h2>
                            <p>{{ book.bibliographical_citations|linebreaks }}</p>
                        </section>
                    {% endif %}

                    {% if book.studies %}
                        <section class="mb-4">
                            <h2 class="h5">Studies</h2>
                            <p>{{ book.studies|linebreaks }}</p>
                        </section>
                    {% endif %}

                    {% if book.structure_notes %}
                        <section class="mb-4">
                            <h2 class="h5">Structure notes</h2>
                            <p>{{ book.structure_notes|linebreaks }}</p>
                        </section>
                    {% endif %}

                    {% if book.type_general_notes %}
                        <section class="mb-4">
                            <h2 class="h5">General notes</h2>
                            <p>{{ book.type_general_notes|linebreaks }}</p>
                        </section>
                    {% endif %}
                </div>

                <div class="col-md-4">
                    {% include "books/_book_metadata.html" %}
                </div>
            </div>
        {% else %}
            {# Kein linker Inhalt -> Metadata einfach vollbreit anzeigen #}
            <div class="row">
                <div class="col-md-12">
                    {% include "books/_book_metadata.html" %}
                </div>
            </div>
        {% endif %}

        {% include "books/_book_cite_modal.html" %}
    </div>
{% endblock %}
